<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMapConfig PUBLIC "-//iBATIS.com//DTD SQL Map Config 2.0//EN"
        "http://www.ibatis.com/dtd/sql-map-config-2.dtd">
<!-- 根标签 -->
<sqlMapConfig>
    <!-- <properties>
         <property name="driver" value="com.mysql.jdbc.Driver"/>
         <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis-110?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true"/>
         <property name="username" value="root"/>
         <property name="password" value="123456"/>
     </properties>-->


    <transactionManager type="JDBC">
        <dataSource type="SIMPLE">
            <property name="JDBC.Driver" value="com.mysql.jdbc.Driver"/>
            <property name="JDBC.ConnectionURL" value="jdbc:mysql://172.17.6.233:3306/test"/>
            <property name="JDBC.Username" value="root"/>
            <property name="JDBC.Password" value="db_admin#ops.fm"/>

        </dataSource>
    </transactionManager>

    <sqlMap resource="mapper/MyMapper.xml"/>
</sqlMapConfig>

