.classpath
.project
target
.settings
.config*
*.serverId
assets-builder/
LOG_PATH_IS_UNDEFINED/
protobuf/fm
*tar.gz
.idea
**.iml
**/target
**/.settings
**/.classpath
**/.project
.idea
.sbtserver
logs
/bin/
.cache-main
.cache-tests
*.bak
upload-sdk.log*
*.iml
