**/target
**/.settings
**/.classpath
**/.project
*.bak
/target/
**/target/
.idea
.idea/**.xml
demo.iml
**/**.iml
/.idea
/.idea/**
/.idea/**/**
**/.idea
*.iml
target
build
out
/.idea/workspace.xml
.mvn
/demo.iml~origin_master
